.formularioRegistroizq {
    background-color: red;
    height: 80px;
    width: 320px;
}

.textoinput {
    width: 278px;
    margin-left: 20px;
}

.formularioRegistroder {
    background-color: red;
    height: 80px;
    width: 320px;
}

.registrarsubempresa {
    margin-left: 450px;
    background-color: darkgrey;
    height: 717px;
    margin-top: 65px;
    width: 730px;
}

.horariolunes{
    background-color:red;

}
.horariomartes {

    background-color:green;

}
.horariomiercoles {
    background-color: green;
}
.horariojueves {
    background-color: green;
}
.horarioviernes {
    background-color: green;
}
.horariosabado {
    background-color: green;
}
.horariodomingo {
    background-color: green;
}